body {
    background-color: #f5f7fb;
    font-family: "Poppins", sans-serif;
}

.navbar-brand {
    letter-spacing: 0.5px;
}

.table thead th {
    white-space: nowrap;
}

.table-responsive {
    max-height: 70vh;
}

td,
th {
    font-size: 0.9rem;
}

/* Supaya teks kriteria rapi */
td.kriteria-text {
    min-width: 150px;
}

/* Small screen tweak */
@media (max-width: 768px) {
    .table-responsive {
        max-height: none;
    }

    td,
    th {
        font-size: 0.8rem;
    }
}